flows_LP5-JCN26-DSY.json
[{"id":"abcc0946.7943b8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ed2df5a5.4d2418","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93442fc7.70d09","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"af1c2f53.c5ade","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"5a5501bb.4a063","type":"subflow","name":"Subflow 2","info":"","in":[{"x":60,"y":80,"wires":[{"id":"281b40d9.267"}]}],"out":[]},{"id":"76546d8f.dc4804","type":"inject","z":"ed2df5a5.4d2418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":420,"wires":[["b8566776.eb9168"]]},{"id":"15f5b98f.7ef5b6","type":"debug","z":"ed2df5a5.4d2418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":420,"wires":[]},{"id":"b8566776.eb9168","type":"function","z":"ed2df5a5.4d2418","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":420,"wires":[["15f5b98f.7ef5b6"]]},{"id":"3390dfd9.b22b7","type":"inject","z":"ed2df5a5.4d2418","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["41fc5bd4.cdaf24"]]},{"id":"41fc5bd4.cdaf24","type":"http request","z":"ed2df5a5.4d2418","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":260,"wires":[["e7e5d37e.bcf65"]],"info":"# Commentaire sur ce bloc\nIci je peux décrire le rôle du bloc dans ce graphe. "},{"id":"e7e5d37e.bcf65","type":"csv","z":"ed2df5a5.4d2418","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":430,"y":260,"wires":[["96a47f79.fb47a"]]},{"id":"96a47f79.fb47a","type":"switch","z":"ed2df5a5.4d2418","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":260,"wires":[["8acb58dd.79c718"]]},{"id":"8acb58dd.79c718","type":"change","z":"ed2df5a5.4d2418","name":"","rules":[{"t":"set","p":"output","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":260,"wires":[["300bad39.f33bf2"]]},{"id":"300bad39.f33bf2","type":"debug","z":"ed2df5a5.4d2418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"output","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":260,"wires":[]},{"id":"13d97cdd.802883","type":"complete","z":"ed2df5a5.4d2418","name":"","scope":[],"uncaught":false,"x":170,"y":80,"wires":[["79ac7f68.4b7e5"]]},{"id":"79ac7f68.4b7e5","type":"debug","z":"ed2df5a5.4d2418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":80,"wires":[]},{"id":"2ebd09da.e7ffc6","type":"debug","z":"5a5501bb.4a063","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"281b40d9.267","type":"function","z":"5a5501bb.4a063","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":80,"wires":[["2ebd09da.e7ffc6"]]},{"id":"8710f2.889a4f1","type":"inject","z":"93442fc7.70d09","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":200,"wires":[["a53b6a7f.d79fc8"]]},{"id":"a53b6a7f.d79fc8","type":"http request","z":"93442fc7.70d09","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":200,"wires":[["9d922670.be89e8"]]},{"id":"9d922670.be89e8","type":"csv","z":"93442fc7.70d09","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":490,"y":200,"wires":[["373c281f.f3b498"]]},{"id":"373c281f.f3b498","type":"switch","z":"93442fc7.70d09","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"cont","v":"\"hello\"","vt":"str"},{"t":"istype","v":"string","vt":"string"},{"t":"null"},{"t":"hask","v":"heat","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":630,"y":200,"wires":[["3603a53a.25f86a"],["39d2d272.a0ecae"],["5dfc9c8c.bae194"],["1664b8fb.dc9a97"],["52cf20ba.e9d1"],[],[]]},{"id":"3603a53a.25f86a","type":"debug","z":"93442fc7.70d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":80,"wires":[]},{"id":"39d2d272.a0ecae","type":"debug","z":"93442fc7.70d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"52cf20ba.e9d1","type":"debug","z":"93442fc7.70d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":240,"wires":[]},{"id":"1664b8fb.dc9a97","type":"debug","z":"93442fc7.70d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":200,"wires":[]},{"id":"5dfc9c8c.bae194","type":"debug","z":"93442fc7.70d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"1c3874f0.16eedb","type":"change","z":"abcc0946.7943b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"query","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":200,"wires":[["b0fa9b1e.bbfe08"]]},{"id":"5b392870.3a58b8","type":"inject","z":"abcc0946.7943b8","name":"Ingredients","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"potato, cheese","payloadType":"str","x":120,"y":120,"wires":[["1c3874f0.16eedb"]]},{"id":"b0fa9b1e.bbfe08","type":"http request","z":"abcc0946.7943b8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://www.recipepuppy.com/api/?i={{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":200,"wires":[["328e8a30.7f9cb6"]],"info":"# Commentaire sur ce bloc\nhttp request vers l'API "},{"id":"328e8a30.7f9cb6","type":"debug","z":"abcc0946.7943b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.results","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":200,"wires":[]}]